{% extends 'base.html.twig' %}

{% block body %}

<div class="container margin-top-50">

    <h2 class="text-center">Add New Project</h2>
    <hr/>

    {{ form_start(form) }}

    <div class="row">

        <div class="col-5">

            <div class="row form-group">
                <div class="col">
                    <h5 class="text-center">Main image</h5>

                    <div id="main-image-div" class="main-image-add center hidden">
                        <span class="fa fa-remove hidden" onclick="deleteMainImage()"></span>
                        <img class="img-thumbnail center" src=""/>
                        {{ form_row(form.imageName, {'attr': { 'class': 'hidden'}})}}
                    </div>
                    <div id="main-image-div-add" class="main-image-add center" onclick="addMainImage()">
                        <span class="fa fa-plus"></span>
                    </div>
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <div id="images" class="row">

                        <div class="col">
                            <div class="image-add center" onclick="addNewImage()">
                                <span class="fa fa-plus"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-7">

            <div class="row form-group">
                <div class="col">
                    {{ form_row(form.name, { 'attr': { 'class': 'form-control', 'placeholder': 'Project Name' } }) }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    {{ form_row(form.programmingLanguages, { 'attr': { 'class': 'form-control', 'placeholder': 'Example: PHP, JavaScript, HTML' } }) }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    {{ form_row(form.technologiesUsed, { 'attr': { 'class': 'form-control', 'placeholder': 'Example: AJAX, Symfony 3' } }) }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    {{ form_row(form.description, { 'attr': { 'class': 'form-control', 'placeholder': 'Description', 'rows': '7'} }) }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    {{ form_row(form.githubLink, { 'attr': { 'class': 'form-control', 'placeholder': 'Example: https://github.com/GeorgiKeranov/georgi-keranov-site' } }) }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    {{ form_row(form.youtubeLink, { 'attr': { 'class': 'form-control', 'placeholder': 'Example: https://www.youtube.com/watch?v=jOXbmRs2eoA' } }) }}
                </div>
            </div>

            <div class="row form-group">
                <div class="col">
                    <input class="btn btn-success" type="submit" value="Save"/>
                    <a href="{{ path('admin_projects') }}" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

</div>

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('js/main-image-functions.js') }}"></script>
    <script src="{{ asset('js/secondary-images-functions.js') }}"></script>
{% endblock %}
