<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Georgi Keranov{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/fonts/font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% block stylesheets %}{% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('img/header-logo.png') }}" class="header-img"/>
                <div class="name">Georgi Keranov</div>
                <div class="desc">Developer</div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarColor01" aria-controls="navbarColor01"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">

                {% set route = app.request.get('_route') %}

                <ul class="nav navbar-nav ml-auto">
                    <li {{ route == 'homepage' ? 'class="nav-item active"' }} class="nav-item">
                        <a class="nav-link" href="{{ path('homepage') }}">
                            Home
                        </a>
                    </li>
                    <li {{ route == 'projects' ? 'class="nav-item active"' }} class="nav-item">
                        <a class="nav-link" href="{{ path('projects') }}">
                            Projects
                        </a>
                    </li>
                    <li {{ route == 'contacts' ? 'class="nav-item active"' }} class="nav-item">
                        <a class="nav-link" href="{{ path('contacts') }}">
                            Contacts
                        </a>
                    </li>

                    <!-- Show login and register for not authenticated users. -->
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li {{ route == 'login' ? 'class="nav-item active"' }} class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">
                                Login
                            </a>
                        </li>
                        <li {{ route == 'register' ? 'class="nav-item active"' }} class="nav-item">
                            <a class="nav-link" href="{{ path('register') }}">
                                Register
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li {{ route == 'admin' ? 'class="nav-item active"' }} class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">
                                Admin Panel
                            </a>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                Account
                            </a>
                            <div class="dropdown-menu">
                                <div class="row">
                                    <div class="col text-center">
                                        {% if app.user.profilePicture %}
                                            <img class="img-header" src="{{ asset('uploads/images/' ~ app.user.profilePicture) }}"/>
                                        {% else %}
                                            <img class="img-header" src="{{ asset('img/no-profile-picture.png') }}"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <h6 class="color-black">{{ app.user.firstName }} {{ app.user.lastName }}</h6>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="{{ path('account_settings') }}">
                                    <span class="fa fa-cog"></span>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="{{ path('logout') }}">
                                    <span class="fa fa-sign-out"></span>
                                    Logout
                                </a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>


{% block body %}{% endblock %}

<footer>

</footer>

<script src="{{ asset('js/frameworks/jquery.min.js') }}"></script>
<script src="{{ asset('js/frameworks/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
