{% extends 'admin/admin.html.twig' %}

{% block main %}

    <div class="row">

        <div class="col-md-4">
            <div class="label purple">
                <i class="fa fa-user-circle"></i>
                <div class="pull-right">
                    <h3 class="line-height">{{ registered_users_this_month }}</h3>
                    <h5>New users this month</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="label orange">
                <i class="fa fa-tasks"></i>
                <div class="pull-right">
                    <h3 class=" line-height">{{ project_views_this_month }}</h3>
                    <h5>Project views this month</h5>
                </div>
            </div>
        </div>

    </div>


    <form method="post" enctype="multipart/form-data">
        <div class="row margin-top-10">
            <div class="col-md-4">

                <h4 class="text-center">Change your portfolio picture</h4>
                <span id="remove-portfolio-pic" class="fa fa-remove hidden" onclick="removePortfolioPic()"></span>
                <div class="portfolio-pic text-center">
                    <img id="portfolio-pic" class="img-thumbnail" src="{{ asset('img/georgi-keranov.jpg') }}">
                </div>
                <input id="input-image" name="portfolio_picture" type="file" class="form-control"/>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col">
                        <h4 class="text-center">Home page large text:</h4>
                        <input name="home_text" class="form-control" type="text" value="{{ home_large_text }}"/>
                    </div>
                </div>

                <div class="row margin-top-10">
                    <div class="col">
                        <h4 class="text-center">Home page description:</h4>
                        <textarea rows="3" name="home_description" class="form-control" type="text">{{ home_description }}</textarea>
                    </div>
                </div>

                <div class="row margin-top-10">
                    <div class="col">
                        <button class="btn btn-outline-success" type="submit">Save changes</button>
                        <a class="btn btn-outline-danger" href="{{ path('homepage') }}">Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </form>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/dashboard/dashboard.js') }}"></script>
{% endblock %}