{% extends 'admin/admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sweetalert.min.css') }}">
{% endblock %}

{% block main %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Author's name</th>
            <th>Title</th>
            <th>Date</th>
            <th class="text-center">Options</th>
        </tr>
        </thead>
        <tbody>

        {% for message in messages %}
        <tr id="message-{{ message.id }}" class="table-warning">
            <td>{{ message.name }}</td>
            <td>
                {% if message.title %}
                    {{ message.title }}
                {% else %}
                    [ EMPTY TITLE ]
                {% endif %}
            </td>
            <td>{{ message.dateSent|date('H:i, d F Y') }}</td>
            <td class="text-center">
                <button class="btn btn-success"
                        onclick="document.location = '{{ path('admin_message', {'id': message.id}) }}'">
                    <span class="fa fa-eye"></span>
                </button>
                <button class="btn btn-danger" onclick="deleteMessage({{ message.id }})">
                    <span class="fa fa-trash"></span>
                </button>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/message-delete.js') }}"></script>
{% endblock %}