{% extends 'admin/admin.html.twig' %}

{% block main %}

    <a href="{{ path('project_add') }}" class="btn btn-info btn-block">
        <span class="fa fa-plus"></span>
        Add new project
    </a>

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
            <th>Picture</th>
            <th>Name</th>
            <th>Date created</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
        <tr class="table-warning">
            <td>
                <a href="{{ path('project_edit', { 'name': project.name }) }}" class="btn btn-primary btn-block">
                    <span class="fa fa-edit"></span>
                </a>
            </td>
            <td>
                <form method="POST" action="{{ path('project_remove', { 'name': project.name }) }}">
                    <button type="submit" class="btn btn-danger btn-block">
                        <span class="fa fa-trash"></span>
                    </button>
                </form>
            </td>
            <td>
                {% if project.imageName %}
                    <img class="img-table" src="../uploads/images/{{ project.imageName }}"/>
                {% endif %}
                {% if not project.imageName %}
                    <img class="img-table" src="{{ asset('img/no-image-available.png') }}"/>
                {% endif %}
            </td>
            <td>{{ project.name }}</td>
            <td>{{ project.dateCreated|date("j F Y") }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}