{% extends 'admin/admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sweetalert.min.css') }}">
{% endblock %}

{% block main %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Picture</th>
            <th>Full name</th>
            <th>Username</th>
            <th>Roles</th>
            <th>Add role</th>
            <th>Delete role</th>
            <th>Delete user</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users %}
            <tr class="table-warning">
                <td>
                    {% if user.profilePicture %}
                        <img class="img-user-table" src="{{ asset('uploads/images/') ~ user.profilePicture }}"/>
                    {% else %}
                        <img class="img-user-table" src="{{ asset('img/no-profile-picture.png') }}"/>
                    {% endif %}
                </td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>
                    <button class="btn btn-success" onclick="addRole({{ user.id }})">
                        <span  class="fa fa-plus"></span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" onclick="deleteRole({{ user.id }})">
                        <span class="fa fa-minus"></span>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/frameworks/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/users/roles-ajax.js') }}"></script>
{% endblock %}