{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-3">
        <div class="row">

            {% for project in projects %}
            <div class="col-md-6 mb-4">
                <h3 class="text-center overflow-ellipse">{{ project.name }}</h3>
                
                <div class="project-image-container text-center">
                    {% if project.imageName %}
                        <img src="../uploads/images/{{ project.imageName }}"/>
                    {% endif %}
                    {% if not project.imageName %}
                        <img src="{{ asset('img/no-image-available.png') }}"/>
                    {% endif %}
                </div>

                <div class="row margin-top-10">
                    <div class="col-md-6">
                        <p>Programming languages:</p>
                        <h5 class="overflow-ellipse">{{ project.programmingLanguages }}</h5>
                    </div>
                    <div class="col-md-6">
                        <p>Technologies used: </p>
                        <h5 class="overflow-ellipse">{{ project.technologiesUsed }}</h5>
                    </div>
                </div>

                <a href="{{ path('project_view', {'name': project.name}) }}" class="btn btn-info btn-block">Read more</a>
            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}