{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sweetalert.min.css') }}">
{% endblock %}

{% block body %}

<div class="container margin-top-10">

    <h2 class="text-center">{{ project.name }}</h2>
    <hr/>

    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col">
                    <span id="previous-image" class="fa fa-arrow-circle-left" onclick="previousImage()"></span>
                    <span id="next-image" class="fa fa-arrow-circle-right" onclick="nextImage()"></span>
                    <div class="big-image-container">
                        <img class="big-project-image"
                             id="big-project-image"
                             src=""/>
                    </div>
                </div>
            </div>

            <div class="row">
                {% if project.imageName %}
                    <div class="col-md-3">
                        <img class="small-project-image"
                             id="project-image-0"
                             src="{{ asset('/uploads/images/') ~ project.imageName }}"
                             onclick="setImage(0)"/>
                    </div>
                {% endif %}

                {% for image in project.images %}
                    <div class="col-md-3">
                        <img class="small-project-image"
                             id="project-image-{{ loop.index }}"
                             src="{{ asset('/uploads/images/') ~ image.name }}"
                             onclick="setImage({{ loop.index }})"/>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-7">

            <div class="row">
                <div class="col-5">
                    Programming languages written:
                </div>
                <div class="col-7">
                    <h5>{{ project.programmingLanguages }}</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    Technologies used:
                </div>
                <div class="col-7">
                    <h5>{{ project.technologiesUsed }}</h5>
                </div>
            </div>

            <div class="row margin-top-10">
                <div class="col">
                    <div class="description">
                        {{ project.description|nl2br }}
                    </div>
                </div>
            </div>

            <div class="row margin-top-10">
                <div class="col">
                    <div class="social-icons icon-circle">
                        <h5>Github link:
                            <a target="_blank" href="{{ project.githubLink }}">
                                <i class="fa fa-github"></i>
                            </a>
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <h5> Youtube link:
                        <a target="_blank" href="{{ project.youtubeLink }}">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </h5>
                </div>
            </div>

        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col">
            <h3 class="text-center">
                Comments:
                <span class="float-right margin-right-10">
                    <i class="fa fa-comment"></i> <span id="project-comments">{{ project.comments|length }}</span>
                </span>
            </h3>
        </div>
    </div>

    <hr/>

    <div class="form-group">
        <div class="row">
            <div class="col-md-10">
                <textarea class="form-control" type="text" id="new-comment"
                          placeholder="Add new comment"></textarea>
            </div>
            <div class="col-md-2">
                {% if app.user %}
                    <button class="btn btn-outline-success" onclick="comment()">Comment</button>
                {% else %}
                    <a class="btn btn-outline-success" href="{{ path('login') }}">Comment</a>
                {% endif %}
            </div>
        </div>
        <hr/>
    </div>

    <div id="new-comments-ajax"></div>

    {% for comment in project.comments %}
    <div id="comment-{{ comment.id }}" class="row margin-top-10">
        <div class="col-md">
            <div class="row gray">

                <div class="col-md-2 text-center">
                    {% if comment.user.profilePicture %}
                        <img class="profile-pic-comment"
                             src="{{ asset('uploads/images/') ~ comment.user.profilePicture }}">
                    {% else %}
                        <img class="profile-pic-comment" src="{{ asset('img/no-profile-picture.png') }}">
                    {% endif %}

                </div>

                <div class="col-md-10">
                    <div id="comment-details-{{ comment.id }}" class="card border-secondary mb-3" style="width: 100%">
                        <div class="card-header">
                            <span class="float-left" >{{ comment.user.fullName }} commented on {{ comment.created|date("Y-m-d H:i") }}</span>
                            {% if app.user %}
                                {% if app.user.username == comment.user.username %}
                                <span class="float-right">
                                    <i class="fa fa-edit edit-comment" onclick="showEditComment({{ comment.id }})"></i> <i class="fa fa-remove delete-comment" onclick="deleteComment({{ comment.id }})"></i>
                                </span>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ comment.comment }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/frameworks/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/project/change-main-picture.js') }}"></script>
    <script src="{{ asset('js/project/comment-ajax.js') }}"></script>
{% endblock %}