{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/sweetalert.min.css') }}">
{% endblock %}

{% block body %}
    <div class="container margin-top-50">

        {% if error is defined %}
            <div id="error" class="hidden">
                {{ error }}
            </div>
        {% endif %}

        {{ form_start(form) }}
            <div class="row">

                <!-- left column -->
                <div class="col-md-4">
                    <div class="text-center">
                        <div class="row">
                            <div class="col">
                                <h3>Profile picture</h3>
                                <span id="image-delete" class="fa fa-remove {% if not app.user.profilePicture %}hidden{% endif %}"></span>
                                <div class="image-container">
                                    {% if app.user.profilePicture %}
                                        <img id="image-img" class="img-thumbnail" src="{{ asset('uploads/images/' ~ app.user.profilePicture) }}"/>
                                    {% else %}
                                        <img id="image-img" class="img-thumbnail" src="{{ asset('img/no-profile-picture.png') }}"/>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-10">
                            <div class="col">
                                <h6>Upload a different photo...</h6>
                                {{ form_row(form.profilePictureFile, {'label': false, 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- edit form column -->
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="control-label">First name:</label>
                                {{ form_row(form.firstName, {'label': false, 'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="col">
                                <label class="control-label">Last name:</label>
                                {{ form_row(form.lastName, {'label': false, 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="control-label">Username:</label>
                                {{ form_row(form.username, {'label': false, 'attr': {'class': 'form-control'}}) }}
                            </div>

                            <div class="col">
                                <label class="control-label">Email:</label>
                                {{ form_row(form.email, {'label': false, 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label class="control-label">New Password:</label>
                                {{ form_row(form.newPassword.first, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Not required'}}) }}
                            </div>

                            <div class="col">
                                <label class="control-label">Confirm New Password:</label>
                                {{ form_row(form.newPassword.second, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Not required'}}) }}
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="text-center">
                            <label class="control-label">Current Password:</label>
                            {{ form_row(form.confirmPassword, {'label': false, 'attr': {'class': 'form-control', 'placeholder': 'Required'}}) }}
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="btn btn-outline-light btn-block" onclick="submitForm()">Save Changes</div>
                        <a class="btn btn-outline-dark btn-block" href="{{ path('homepage') }}">Cancel</a>
                    </div>
                </div>

            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/sweetalert.min.js') }}"></script>
    <script src="{{ asset('js/account.js') }}"></script>
{% endblock %}